/* 
DONE 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron
DONE 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar
DONE 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron
DONE 4) Crea un selettore per selezionare il primo blog post
DONE 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso
DONE 6) Crea un selettore per selezionare i link pari della navbar
DONE 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio")
DONE 8) Crea un selettore per selezionare l'autore del secondo blog post
DONE 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post
DONE 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra
DONE 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso
DONE 12) Crea un selettore per selezionare il secondo link del footer
 */

/* ESERCIZIO 1 */
.jumbotron h1 {color: red;}

/* ESERCIZIO 2 */
.nav span {color: red;}

/* ESERCIZIO 3 */
.jumbotron a {color: red;}

/* ESERCIZIO 4 */
.blog-post:first-of-type {border: 1px solid blue;}

/* ESERCIZIO 5 */
.blog-post:first-of-type hr {background: red;}

/* ESERCIZIO 6 */
nav span:nth-of-type(even) {color: blue; }

/* ESERCIZIO 7 */
aside .p-4:nth-child(2) ol li {border: 1px solid red; padding: 10px;}

/* ESERCIZIO 8 */
.blog-post:nth-child(3) .blog-post-meta a {background-color: peru; color: #fff; padding: 5px;}

/* ESERCIZIO 9 */
.blog-main .blog-post:nth-child(4) ul li:nth-of-type(2){background-color: peru; padding: 10px; border-radius: 10px; margin: 10px 0;}

/* ESERCIZIO 10 */
.blog-footer + a {border: 1px solid red; padding: 10px;}

/* ESERCIZIO 11 */
.blog-pagination a:nth-child(2) {border-color: #007bff; pointer-events: all; opacity: 1;}
.blog-pagination a:nth-child(2):hover {background-color: #007bff; color: #fff;}

/* ESERCIZIO 12 */
.blog-footer a:nth-child(2) {color: red;}
